/* FONTS */

@font-face {
    font-family: "SFProText";
    src: url("./font/SFProText.ttf");
}

/* SCREEN VIEW */

.main {
    background-color: black;
    width: 331px;
    height: 409px;
}

/* LAP SCROLLBAR */

.lapScrollbarDiv {
    background-color: black;
    width: 331px;
    height: 230px;
}

.listingLaps {
    margin: 0 12px 0 12px;
    padding-inline-start: 0;
    border-top: solid 0.1px gray;
}

.listingLaps li {
    height: 34px;
    color: #FFFFFF;
    font-family: "SFProText";
    font-size: 14px;
    list-style-type: none;
    border-bottom: solid 0.1px gray;
}

.listingLaps p {
    width: 60px;
    margin: 0;
    padding-top: 9px;
}

.lap {
    float: left;
}

.lapTime {
    float: right;
}

/* NAVIGATION BAR BOTTOM */

.navBarBottom {
    background-color: #1C1C1E;
    width: 331px;
    height: 66px;
}

/* TIMER */

.timer {
    justify-content: center;
    display: inline-flex;
    font-family: "SFProText";
    padding-top: 121px;
    width: 331px;
    height: 78px;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
}

.timer div {
    padding-right: 3px;
    width: 78px;
    float: left;
    font-weight: 10;
}

/* RESET/LAP START/STOP BUTTONS
COLORS 
 LAP ON HOVER AND RESET BACKGROUND #3A3A3C
 LAP BEFORE START #2C2C2E
*/
.resetLapBtn {
    background-color: #2C2C2E;
    border-radius: 36px;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 340px;
    left: 21px;
}

.resetBtnBorder {
    opacity: 0.5;
    background-color: #2C2C2E;
    height: 59px;
    width: 59px;
    position: absolute;
    top: 342px;
    left: 23px;
    border-radius: 36px;
    border: solid 1px black;
}

.resetBtnBorder h4 {
    padding-top: 3px;
    text-align: center;
    color: #8D8D92;
    font-size: small;
    font-family: "SFProText";
}

/* START AND STOP BUTTON
COLORS
 START TEXT #04DE71
 START BACKGROUND #16472E
 STOP TEXT #FF3B30
 STOP BACKGROUND #50211F
#16472e
*/

.startTimerBtn {
    background-color: #16472E;
    border-radius: 36px;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 340px;
    left: 261px;
}

.startBtnBorder {
    background-color: #16472E;
    height: 59px;
    width: 59px;
    position: absolute;
    top: 342px;
    left: 263px;
    border-radius: 36px;
    border: solid 1px black;
}

.startBtnBorder h4 {
    padding-top: 3px;
    text-align: center;
    color: #04DE71;
    font-size: small;
    font-family: "SFProText";
}

#stopBtnBorder {
    background-color: #50211F;
    height: 59px;
    width: 59px;
    position: absolute;
    top: 342px;
    left: 263px;
    border-radius: 36px;
    border: solid 1px black;
}

#stopBtnBorder h4 {
    padding-top: 3px;
    text-align: center;
    color: #FF3B30;
    font-size: small;
    font-family: "SFProText";
}